<ul class="control">
  <li>
    <label for="control-name">name</label>
    {{input name='control-name' value=control.control.name placeholder='volume'}}
    <a href="#" {{action 'removeControl' control.control}}>Delete</a>
  </li>
  <li>
    <label for="control-type">type</label>
    <select name="control-type" onchange={{action (mut control.typeId) value='target.value'}}>
      {{#each controlTypes as |type|}}
        {{#if (eq type.id control.typeId)}}
          <option value="{{type.id}}" selected>{{type.name}}</option>
        {{else}}
          <option value="{{type.id}}">{{type.name}}</option>
        {{/if}}
      {{/each}}
    </select>
    {{#if (eq control.typeId '1')}}
      <ul class="options">
        <li>
          options
          <ul>
            {{#each selectOptions as |selectOption|}}
              <li>{{input value=selectOption.value submit=(action 'saveSelectOption')}}</li>
            {{/each}} 
            <li>
              <button {{action 'addSelectOption'}}>Add option</button>
            </li>
          </ul>
        </li>
      </ul>
    {{/if}}
  </li>
</ul>
