<h1>
  {{model.name}}
  {{#if model.updating}}
    <i class="spinner"></i>
  {{/if}}
</h1>

<ul class="device-details">
  <li>
    ip: {{model.ip}}
    ({{#link-to 'devices.edit' model}}edit device{{/link-to}})
  </li>
  <li>
    type: {{model.type.name}} 
    ({{#link-to 'device-types.edit' model.type}}edit controls{{/link-to}})
  </li>
</ul>

<form {{action 'update' on='change'}}>
  <ul>
  {{#each model.settings as |setting|}}
    <li>
      {{#if (eq setting.control.type.name 'slider')}}
        {{control-slider setting=setting}}
      {{else if (eq setting.control.type.name 'switch')}}
        {{control-switch setting=setting}}
      {{else if (eq setting.control.type.name 'select')}}
        {{control-select setting=setting}}
      {{/if}}
    </li>
  {{/each}}
  </ul>
</form>

<p>Changes are automatically saved.</p>

{{#link-to 'devices.index'}}Back to devices{{/link-to}}

