{{outlet}}
<h1>Create device type</h1>

<form {{action 'update' on='submit'}}>
  <ul>
    <li>
      <label for="name">name</label>
      {{input name='name' value=model.name}}
    </li>
    <li>
      controls
      <button {{action 'addControl'}}>Add</button>
      <ul>
        {{#each controls as |control|}}
          <li>
            {{add-control control=control}}
          </li>
        {{/each}}
      </ul>
    </li>
  </ul>
  <input type="submit" />
  {{#link-to 'device-types.index'}}Back to device types{{/link-to}}
</form>
